<!doctype html>
<html>
<head>
  <title>TITLE</title>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>

  <form action="/new-med-success" method="post">
    <label>Mediction Name: </label>
      <input type="text" id="med-name" name="med-name"><br>
    
    <label>Dosage: </label>
      <input type="number" id="med-dose" name="med-dose"><br>

    <label>Start date: </label>
      <input type="date" id="start-date" name="start-date"><br>

    <label>End date: </label>
      <input type="date" id="end-date" name="end-date"><br>

    <label>Frequency: </label>
    <select id="frequency" name="frequency">
      <option value="none">----</option>
      <option value="everyday">Everyday</option>
      <option value="day-interval">Day Interval</option>
      <option value="specific-days">Specific Days</option>
      <option value="as-needed">As Needed</option>
    </select><br>


    <!-- Display for Everyday only -->
    <div id="everyday" style="display:none">
      <label>How many times a day? </label>
        <input type="number" id="etimes_per_day" name="etimes_per_day"><br>

      <label>What time?</label>
        <div id="everyday-time-input">
          <input type="time" name="everyday-time-0">
          Set reminder?
          <input type="radio" class="everyday-remind-input" name="everyday-remind-0" value="no" checked>No
          <input type="radio" class="everyday-remind-input" name="everyday-remind-0" value="yes">Yes
        </div>
          <br>
    </div>


    <!-- JAVASCRIPT START -->
    <script type="text/javascript">
      function showEveryday() {
        if ($('#frequency').val() == 'everyday') {
          $('#everyday').show();
        }
        else {
          $('#everyday').hide();
        }};

      $('#frequency').on('change', showEveryday);

      function chooseEverydayTime() {
        var times_per_day = Number($('#etimes_per_day').val());
        var input_time_field = '<input type="time">';
        var input_remind_field_no = 'Set reminder? <input type="radio" value="no" checked>No';
        var input_remind_field_yes = 'Set reminder? <input type="radio" value="yes">Yes';

        $('#everyday-time-input').empty();
        $('#everyday-remind-input').empty();

        for (var i=0; i<times_per_day; i++) {
          // var myDiv = document.createElement('div');

          $('#everyday-time-input').append(input_time_field);
          $('#everyday-time-input').children().last().attr("name", ("everyday-time-" + i));
          // $('#everyday-time-input').append('<br>')

          $('.everyday-remind-input').append(input_remind_field_no);
          $('.everyday-remind-input').children().last().attr("name", ("everyday-remind-" + i));

          $('.everyday-remind-input').append(input_remind_field_yes);
          $('.everyday-remind-input').children().last().attr("name", ("everyday-remind-" + i));

          // var remindName = "everyday-remind-" + i;
          // var input_remind_field = 'Set reminder? <input type="radio" name="' + remindName + '" value="no" checked>No <input type="radio" name="' + remindName + '" value="yes">Yes';
          // $('.everyday-remind-input').append(input_remind_field);
          // // $('#everyday-remind-input').children().last().attr("name", ("everyday-remind-" + i));
          $('.everyday-remind-input').append('<br>');



          // $('#everyday-remind-input').append(input_remind_field);
          // $('#everyday-remind-input').children().last().attr("name", ("everyday-remind-" + i));
          // $('#everyday-remind-input').append('<br>');
        }}

      $('#etimes_per_day').bind('input', chooseEverydayTime);
    </script>
    <!-- JAVASCRIPT END -->

    
    <!-- Display for Day Interval only -->
    <div id="day-interval" style="display:none">
    <label>Every </label>
      <input type="number" id="interval" name="interval">Days<br>

    <label>How many times a day? </label>
      <input type="number" id="itimes_per_day" name="itimes_per_day"><br>

    <label>What time? </label>
      <div id="interval-time-input">
        <input type="time" name="interval-time-0"><br>
      </div>
    </div>


    <!-- JAVASCRIPT START -->
    <script type="text/javascript">
      function showDayInterval() {
        if ($('#frequency').val() == 'day-interval') {
          $('#day-interval').show();
        }
        else {
          $('#day-interval').hide();
        }};

      $('#frequency').on('change', showDayInterval);

      function chooseIntervalTime() {
        var times_per_day = Number($('#itimes_per_day').val());
        var input_field = '<input type="time">'

        $('#interval-time-input').empty();

        for (i=0; i<times_per_day; i++) {
          $('#interval-time-input').append(input_field);
          $('#interval-time-input').children().last().attr("name", ("interval-time-" + i));
          $('#interval-time-input').append('<br>');
        }}

      $('#itimes_per_day').bind('input', chooseIntervalTime);
    </script>
    <!-- JAVASCRIPT END -->


    <!-- Display for Specific Days only -->
    <div id="specific-days" style="display:none">
    <label>Select the days: </label><br>
    <input type="checkbox" name="day" value="0">Monday</option><br>
    <input type="checkbox" name="day" value="1">Tuesday</option><br>
    <input type="checkbox" name="day" value="2">Wednesday</option><br>
    <input type="checkbox" name="day" value="3">Thursday</option><br>
    <input type="checkbox" name="day" value="4">Friday</option><br>
    <input type="checkbox" name="day" value="5">Saturday</option><br>
    <input type="checkbox" name="day" value="6">Sunday</option><br>

    <label>How many times a day? </label>
        <input type="number" id="stimes_per_day" name="stimes_per_day"><br>

    <label>What time? </label>
      <div id="specific-time-input">
        <input type="time" name="specific-time-0"><br>
      </div>
    </div>

    <input type="submit" id="form-submission-button" value="Add">
  </form>


    <!-- JAVASCRIPT START-->
    <script type="text/javascript">
      function showSpecificDays() {
        if ($('#frequency').val() == 'specific-days') {
          $('#specific-days').show();
        }
        else {
          $('#specific-days').hide();
        }};

      $('#frequency').on('change', showSpecificDays);

      // function getCheckedDays() {
      //   var checked = $('input:checkbox:checked').map(function(){
      //     return $(this).val();
      //   }
        


      function chooseSpecificTime() {
        var times_per_day = Number($('#stimes_per_day').val());
        var input_field = '<input type="time">'

        $('#specific-time-input').empty();

        for (i=0; i<times_per_day; i++) {
          $('#specific-time-input').append(input_field);
          $('#specific-time-input').children().last().attr("name", ("specific-time-" + i));
          $('#specific-time-input').append('<br>');
        }}

      $('#stimes_per_day').bind('input', chooseSpecificTime);
    </script>
    <!-- JAVASCRIPT END -->


</body>
</html>