{% extends 'base.html' %}
{% block content %}


<div class="text-center"><h1><span>Today is: </span><span><b>{{today}}</b></span></h1></div>

  {% for frequency in frequencies %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">{{frequency.name}} {{frequency.dose}} {{frequency.unit}}
      </div>
    </div>
    <div class="panel-body">
      <ul>
        {% for time in frequency.times %}
          <li data-time="time-{{time[0]}}">Scheduled time: {{time[0]}}
            <button id='{{time[1]}}' class="taken-btn" type="button">Taken</button>
            <img src="/static/checkmark.png" id="checkmark-{{time[1]}}" style={% if time[2] == True %}"display: inline"{% else %}"display: none"{% endif %} width='10' height='10'>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>

  {% endfor %}


<!--   <div>
    <h1>Today is: {{today}}</h1>
    {% for frequency in frequencies %}

    <div>
      <ul>
        <li>{{frequency.name}}
        <ul>
          <li>Dose: {{frequency.dose}} {{frequency.unit}}</li>
          {% for time in frequency.times %}
          <li data-time="time-{{time[0]}}">Scheduled time: {{time[0]}}
            <button id='{{time[1]}}' class="taken-btn" type="button">Taken</button>
            <img src="/static/checkmark.png" id="checkmark-{{time[1]}}" style={% if time[2] == True %}"display: inline"{% else %}"display: none"{% endif %} width='10' height='10'>
          </li>
          {% endfor %}
        </ul>
      </ul>
    </div>

    {% endfor %}
  </div> -->

    <!-- INSERT JAVASCRIPT HERE -->
  <script type="text/javascript">

    function confirmTaken(result) {
      console.log(result);
      }

    function changeTaken() {

      if ($(this).next().is(":hidden")) {
        
        var formInputs = {
          "comp_id": this.id,
          "taken": true
          };

        $.post("/user/today/taken",
           formInputs,
           confirmTaken
           );

        $(this).next().show();
      }

      else if ($(this).next().is(":visible")) {
        
        var formInputs = {
          "comp_id": this.id,
          "taken": false
          };

        $.post("/user/today/taken",
             formInputs,
             confirmTaken
             );

        $(this).next().hide();
      }
    }

    $('.taken-btn').on('click', changeTaken);

  </script>
    <!-- END JAVASCRIPT -->

{% endblock %}