{% extends 'base.html' %}
{% block content %}
<!-- {% macro input(value='hello') -%}
  <input value="{{value}}"/>
{%- endmacro %} -->

  <div>
    <a href="/logout">Logout</a>
  </div>

  <div>
    <a href="/user">View All Medications</a>
  </div>

  <div>
    <a href="/user/today">Today</a>
  </div>

  <br>
  <br>

  <form action="/new-med">
    <input type="submit" id="add-med-button" value="Add a medication">
  </form>

  <div>
    <h1>My Medications</h1>
    {% for frequency in frequencies %}

    <div>
      <ul>
        <li>{{frequency.name}}
        <ul>
          <li>Dose: {{frequency.dose}} {{frequency.unit}}</li>
          <li data-start="{{frequency.start_date.date()}}">Start date: {{frequency.start_date.date()}}</li>
          <li data-end="{{frequency.end_date.date()}}">End date: {{frequency.end_date.date()}}</li>
          <li id="days-{{frequency.freq_id}}">Days: {{frequency.days}}</li>
          {% for time in frequency.times %}
          <li>Scheduled time: {{time[0]}}
              {% if time[1] == True %}
              Reminder Set
              {% endif %}
          {% endfor %}
          <li><button id="{{frequency.med_id}}" class="remove-btn" type="button">Remove</button></li>
          <!-- <li>{{input()}}</li> -->
        </ul>
      </ul>
    </div>

    {% endfor %}
  </div>

    <!-- INSERT JAVASCRIPT HERE -->
  <script type="text/javascript">
    function confirmDrugRemoval(result) {
      alert(result);
      }

    function removeDrug() {
      confirm("Are you sure you want to remove this drug?");

      var formInputs = {
        "med_id": this.id,
        "start_date": $(this).parent().siblings(":nth-of-type(2)").data("start"),
        "end_date": $(this).parent().siblings(":nth-of-type(3)").data("end")
        };

    $.post("/remove-med",
           formInputs,
           confirmDrugRemoval
           );

    this.closest("div").remove()
    }

    $('.remove-btn').on('click', removeDrug);
  </script>
    <!-- END JAVASCRIPT -->

{% endblock %}