{% extends 'base.html' %}
{% block content %}

  <a href="/logout">Logout</a>

  <br>
  <br>

  <div>
    <h1>My Medications</h1>
    {% for med in meds %}
    <ul>
      <li>{{med[0]}}
      <ul><li>Dose: {{med[1]}}{{med[2]}}</li></ul>
      <ul><li>Start date: {{med[3].date()}}</li></ul>
      <ul><li>End date: {{med[4].date()}} </li></ul>
      <ul><li><button id="remove-{{med[0]}}" type="button">Remove</button></li></li></ul>
    </ul>
    {% endfor %}
  </div>

    <!-- INSERT JAVASCRIPT HERE -->
  <script type="text/javascript">
    // function goneDrug(result) {


    // }

    // function removeDrug(evt) {
    //   alert("Are you sure you want to remove this drug?");

    //   var formInputs = {
    //     "med": $("#remove-{{med[0]}}")
    //     "freq": "{{med[5]}}"
    //   }

    // $.post("/remove-med",
    //        formInputs,
    //        goneDrug
    //        );
    // }

    // $("#remove-{{med[0]}}").on("click", removeDrug);
  </script>
    <!-- END JAVASCRIPT -->


  <form action="/new-med">
    <input type="submit" id="add-med-button" value="Add a medication">
  </form>


{% endblock %}